@using BangazonWorkforce.Models
@model BangazonWorkforce.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<hr />
<div>
    <h4>@Html.DisplayNameFor(model => model.EmployeeList):</h4>
    <dl class="row">
        @if (Model.EmployeeList.Count() < 0) { 
            <dd> No employees in department ;( </dd>
        } else
        {

            @foreach (Employee item in Model.EmployeeList)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => item.FullName)
                </dd>
            }
        }
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
